<div class="main-container text-white grid items-center justify-center">
  <div class="timer-container flex w-full justify-between">
    <div class="stop-icon flex items-center">
      <img src="assets/img/close-icon.png" alt="close">
    </div>
    <div class="timer-bar text-center flex">
      <input type="range">
    </div>
    <div class="timer-time">0:20</div>
  </div>
  <div class="question-container">
    <div class="title pb-11">Who is the author of this picture?</div>
    <div>
      <img class="question-img" src="https://raw.githubusercontent.com/irinainina/image-data/master/full/114full.jpg"
        alt="picture">
      <div class="question-number"></div>
    </div>
    <div class="answers-options">
      {{id$ | async | json}}
      <div class="answer answer-1">Peter Paul Rubens</div>
      <div class="answer answer-2">Rembrandt van Rijn</div>
      <div class="answer answer-3">Leonardo da Vinci</div>
      <div class="answer answer-4">Hieronymus Bosch</div>
    </div>
  </div>
</div>