.main-container {
  height: 100vh;
}

.title {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}

.answers-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 30px;
  padding: 45px 0;
}

.question-img {
  width: 825px;
  border-radius: 30px;
}

.answer {
  width: 400px;
  border: 2px solid white;
  border-radius: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

input {
  width: 35vw;
}

.timer-time {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}

.test {
  background-color: var(--accent)!important;
  border-color: var(--accent)!important;
}

.number-buttons {
  bottom: 5%;
  width: 100%;
}

.question-number {
  width: 15px;
  height: 15px;
  margin: 1%;
  border-radius: 50%;
  border: 1px solid var(--basic);
  background-color: var(--basic);
}