<div class="main-container text-white grid items-center justify-center">
  <div class="timer-container flex w-full justify-between">
    <div class="stop-icon flex items-center">
      <img src="assets/img/close-icon.png" alt="close">
    </div>
    <div class="timer-bar text-center flex"></div>
    <div class="timer-time">0:20</div>
  </div>
  <div class="question-container">
    <div class="title pb-11">Who is the author of this picture?</div>
    <div class="question-buttons relative">
      <img class="question-img" src="{{question?.img}}" alt="picture">
      <div class="number-buttons absolute flex justify-center">
        <div *ngFor="let question of questions; let i = index" (click)="setCurrentButton(i)" class="question-number"
          [class.accent]="i <= currentQuestionNumber"></div>
      </div>
    </div>
    <div class="answers-options">
      <button *ngFor="let answer of question.answers; let i = index" [class.accent]="i === question.correctAnswer"
        class="answer">{{answer}}</button>
    </div>
  </div>
  <button (click)="nextQuestion()">
    Next
  </button>
  <button (click)="previousQuestion()">
    Back
  </button>
</div>