.game-over-container {
  font-family: 'Gilroy';
  padding: 50px 10px 20px 10px;
}

.confirm-btn {
  border-color: var(--accent);
  background-color: var(--accent);
}

.btn {
  width: 50%;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

.btn-cancel {
  border: 1px solid black;
}

@media (max-width: 520px) {
  img {
    max-width: 50%;
  }
  .game-over-container {
    padding: 0px;
  }
}

@media (max-width:364px) {
  .game-over-container {
    width: 200px;
  }
  .game-over-container .title{
    font-size: 2rem;
  }
  .title-info {
    font-size: 1.2rem;
  }
  .btn {
    width: 42%;
  }
}