.game-over-container {
  font-family: 'Gilroy';
  padding: 50px 10px 20px 10px;
}

.confirm-btn {
  border-color: var(--accent);
  background-color: var(--accent);
}

.btn {
  width: 180px;
  color: black;
  border-radius: 20px;
  padding: 10px;
}

.btn-cancel {
  border: 1px solid black;
}