<div class="game-over-container bg-white text-black rounded-3xl text-center w-fit">
  <div class="logo-grand flex justify-center">
    <img src="assets/img/cup-game-over.png" alt="grand result">
  </div>
  <div class="title font-extrabold text-5xl p-5">Game over</div>
  <div class="title-info font-extrabold text-3xl p-5">Play again?</div>
  <mat-dialog-actions class="w-full flex justify-around pt-16">
    <button (click)="goBack()" class="btn btn-cancel m-2" mat-dialog-close>No</button>
    <button class="btn confirm-btn m-2 cursor-pointer" mat-dialog-close>Yes</button>
  </mat-dialog-actions>
</div>