<div class="quit-game-container bg-white text-black rounded-3xl text-center w-fit">
  <div class="flex justify-end">
    <button mat-dialog-close class="stop-icon">
      <img src="assets/img/close-icon-black.png" alt="close">
    </button>
  </div>
  <div class="title font-extrabold text-xl p-5">{{'quitGame.question' | translate }}</div>
  <mat-dialog-actions class="w-full flex justify-around pt-16">
    <button class="link m-2" [matDialogClose]="false">{{'quitGame.reject' | translate }}</button>
    <button class="link confirm-btn m-2 cursor-pointer" [matDialogClose]="true">{{'quitGame.confirm' | translate }}
    </button>
  </mat-dialog-actions>
</div>