<div class="settings-container bg-black w-screen h-screen text-white">
  <div class="nav-settings flex justify-between text-3xl p-16">
    <div class="flex items-center"><button (click)="goBack()" class="back-icon hover text-4xl flex items-center">
        &lt;</button>
      <div class="back-title text-2xl pl-4 cursor-default">{{'settings.title' | translate}}</div>
    </div>
    <button (click)="goBack()" class="sm:hidden hover">
      <img src="assets/img/close-icon.png" alt="close">
    </button>
  </div>
  <div class="language-settings flex pl-20 sm:justify-center md:pb-4 lg:pb-4">
    <form action="">
      <fieldset class="fieldset flex justify-around">
        <div class="pr-5">
          <label [class.accent]="language === 'en'" class="pr-3" for="en-lan">eng</label>
          <div class="input-language sm:flex sm:justify-center">
            <input [(ngModel)]="language" class="radio-input w-5 h-5 cursor-pointer" type="radio" name="radio"
              id="en-lan" value="en">
          </div>
        </div>
        <div>
          <label [class.accent]="language === 'ru'" class="pr-3" for="rus-lan">рус</label>
          <div class="input-language sm:flex sm:justify-center">
            <input [(ngModel)]="language" class="radio-input w-5 h-5 cursor-pointer" type="radio" name="radio"
              id="rus-lan" value="ru">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="options pl-20">
    <div class="volume flex flex-col">
      <label for="volume-input">{{'settings.volume' | translate}} {{volume}}</label>
      <input id="volume-input" [style.background-size]="volume + '%'" class="volume-input sm:max-w-full" type="range"
        [(ngModel)]="volume">
      <label for="volume-input" class="flex pb-0 justify-between">
        <img src="assets/img/bi_volume-mute.png" alt="mute">
        <img src="assets/img//bi_volume-down.png" alt="unmute">
      </label>
    </div>
    <div class="time-game flex flex-col pb-8 sm:items-center">
      <label for="time-toggle">{{'settings.timeGame' | translate}}</label>
      <div class="input-div flex items-center w-28 justify-between">
        {{time ? 'On' : 'Off'}} <input id="time-toggle" class="toggle-button" type="checkbox" [(ngModel)]="timeGame">
      </div>
    </div>
    <div *ngIf="timeGame" class="time-to-answer flex flex-col sm:items-center">
      <div class="time-option-title pb-8">{{'settings.timeToAnswer' | translate}}</div>
      <div class="time-buttons flex flex-row w-32 justify-between items-center">
        <button (click)="reduceTime()" class="time-button less-time">-</button>
        <div class="time-amount text-2xl">{{time}}</div>
        <button (click)="addTime()" class="time-button more-time">+</button>
      </div>
    </div>
  </div>
  <div class="confirm-btn-container">
    <div class="confirm-buttons">
      <button (click)="setDefaultSettings()" class="confirm-btn default-btn">{{'settings.defaultBtn' |
        translate}}</button>
      <button (click)="setCustomerSettings()" class="confirm-btn save-btn ml-4">{{'settings.saveBtn' |
        translate}}</button>
    </div>
  </div>
</div>