.settings-container {
  font-family: 'Gilroy-bold';
  font-size: 2rem;
}

.back-title {
  font-family: 'Gilroy';
}

.time-button {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}