<app-game-field [showTimer]="showTimer" [time]="time" [questions]="questions$ | async" [answerInfoFn]="answerInfoFn"
  [quizType]="'pictures'" [quizId]="gameId$ | async" (gameEnd)="startNewRound()" (quitQuiz)="goToCategories()">
  <ng-template #question let-question let-answerSelectedFn="answerSelected">
    <div class="question-container">
      <div class="answers grid grid-cols-2 gap-6">
        <button class="answer-button" (click)="answerSelectedFn(i)"
          *ngFor="let answer of question.answers; let i = index">
          <img class="answer-image" [src]="answer" alt="picture">
        </button>
      </div>
    </div>
  </ng-template>
</app-game-field>