.main-container {
  height: 80vh;
}

.timer-time {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}

.answer-image {
  border-radius: 20px;
  width: 400px;
  height: 280px;
}

.title {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}