<div class="main-container text-white grid items-center justify-center">
  <div class="timer-container flex w-full justify-between">
    <div class="stop-icon flex items-center">
      <img src="assets/img/close-icon.png" alt="close">
    </div>
    <div class="timer-bar text-center flex"></div>
    <div class="timer-time">0:20</div>
  </div>
  <div class="question-container">
    <div class="title pb-12">Which is {{question.author}} picture?</div>
    <div class="answers grid grid-cols-2 gap-6">
      <button *ngFor="let answer of question.answers">
        <img class="answer-image w-96 h-72" src="{{answer}}" alt="picture">
      </button>
    </div>
  </div>
</div>