<div class="dialog-container text-black bg-white flex justify-center items-center flex-col">
  <img class="dialog-img w-full" src="https://raw.githubusercontent.com/irinainina/image-data/master/img/102.jpg"
    alt="image">
  <div class="wrong-icon">
    <img class="hidden" src="assets/img/wrong.png" alt="wrong answer">
    <img src="assets/img/correct.png" alt="correct answer">
  </div>
  <div class="title text-xl">Girl with a Pearl Earring</div>
  <div class="picture-info italic">Johannes Vermeer, 1665</div>
</div>