.dialog-container {
  width: 520px;
  height: 630px;
  border-radius: 30px;
}

.title {
  font-family: 'Gilroy';
}

.dialog-img {
  width: 460px;
  height: 415px;
  border-radius: 20px;
}

.next-btn {
  width: 400px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: black;
  border-radius: 20px;
  height: 40px;
}