<app-game-field [showTimer]="showTimer" [time]="time" [questions]="questions$ | async" [answerInfoFn]="answerInfoFn"
  (gameEnd)="startNewRound()" (quitQuiz)="goToCategories()">
  <ng-template #question let-question let-answerSelectedFn="answerSelected" let-selectedAnswers="selectedAnswers"
    let-currentIndex="currentIndex">
    <div class="question-container">
      <div class="question-buttons relative">
        <img class="question-img" [src]="question.img" alt="picture">
        <div class="number-buttons absolute flex justify-center">
          <div *ngFor="let question of questions$ | async; let i = index" (click)="setCurrentButton(i)"
            class="question-number" [class.accent]="i < currentIndex"></div>
        </div>
      </div>
      <div class="answers-options">
        <button (click)="answerSelectedFn(i)" *ngFor="let answer of question.answers; let i = index"
          [class.accent]="selectedAnswers[currentIndex] === i" class="answer">{{answer}}</button>
      </div>
    </div>
  </ng-template>
  <ng-template #dialog>
  </ng-template>
</app-game-field>