<app-game-field [showTimer]="showTimer" [time]="time" [questions]="questions$ | async" [answerInfoFn]="answerInfoFn"
  [quizType]="'artists'" [quizId]="gameId$ | async" (gameEnd)="startNewRound()" (quitQuiz)="goToCategories()">
  <ng-template #question let-question let-answerSelectedFn="answerSelected" let-selectedAnswers="selectedAnswers"
    let-currentIndex="currentIndex">
    <div class="question-container">
      <div class="question-buttons relative flex justify-center">
        <img class="question-img" [src]="question.img" alt="picture">
        <div class="number-buttons absolute flex justify-center">
          <div *ngFor="let question of questions$ | async; let i = index" (click)="setCurrentButton(i)"
            class="question-number" [class.accent]="i < currentIndex"></div>
        </div>
      </div>
      <div class="answers-options lg:pt-11 sm:gap-2 sm:pt-5">
        <button (click)="answerSelectedFn(i)" *ngFor="let answer of question.answers; let i = index"
          [class.accent]="selectedAnswers[currentIndex] === i"
          class="answer md:text-base lg:m-2 lg:text-lg md:m-1 md:text-base sm:m-0.5 sm:text-xs lg:h-14 md:h-12 sm:h-11">{{answer}}</button>
      </div>
    </div>
  </ng-template>
</app-game-field>