.item-image {
  border-radius: 20px;
}

.item-results {
  color: var(--accent);
}

.score-div {
  background-color: #ffffffb0;
  height: 20%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item-img:hover {
  .score-div {
    display: flex!important;
  }
}

.item-results:hover {
  color: white;
}

@media (max-width: 450px)  {
  .menu-item-container {
      width: 8rem;
    }
    .item-header {
      font-size: 14px;
    }
    .item-img:hover {
      .score-div {
        display: none!important;
      }
    }
    .not-played {
      filter: grayscale(1);
    }
    .item-results {
      display: none;
    }
    .item-results-mobile{
      display: flex;
      color: var(--accent);
    }
}

.star-icon {
  background-image: url(/assets/svg/Five-pointed_star.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.golden {
  color: gold!important;
}

@media (min-width: 768px) {
  .menu-item-container:hover {
  transform: scale(1.05);
}
  .score-div:hover {
    background-color: var(--accent);
  }
}

