.item-image {
  border-radius: 20px;
}

.item-results {
  color: var(--accent);
}

.play-again-div {
  background-color: var(--accent);
  height: 20%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item-img:hover {
  .play-again-div {
    display: flex!important;
  }
}

.item-results:hover {
  color: white;
}

@media (max-width: 450px)  {
  .menu-item-container {
      width: 8rem;
    }
    .item-header {
      font-size: 14px;
    }
    .item-img:hover {
      .play-again-div {
        display: none;
      }
    }
}

.not-played {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
}