.categories-container {
  height: 100vh;
}

.settings-img {
  width: 36px;
}

.title {
  color: var(--accent);
}

.nav-font {
  font-size: 1.5rem;
}

.nav-titles {
  width: 50%;
}

.menu-items-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (min-width: 520px) and (max-width: 768px) {
  .menu-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 520px) {
  .menu-items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}