.categories-container {
  height: 100vh;
}

.settings-img {
  width: 36px;
}

.settings-img:hover {
  filter: drop-shadow(0px 0px 4px var(--accent));
}

.logo-img:hover {
  filter: drop-shadow(0px 0px 4px var(--accent));
}

.title {
  color: var(--accent);
}

.nav-font {
  font-size: 1.5rem;
}

.nav-titles {
  width: 50%;
}

.menu-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.to-home-btn:hover {
  color: var(--accent);
}

.score:hover {
  color: var(--accent);
}