.categories-container {
  height: 100vh;
}

.settings-img {
  width: 36px;
}

.settings-img:hover {
  filter: drop-shadow(0px 0px 4px var(--accent));
}

.logo-img:hover {
  filter: drop-shadow(0px 0px 4px var(--accent));
}

.title {
  color: var(--accent);
}

.nav-font {
  font-size: 1.5rem;
}

.nav-titles {
  width: 50%;
}

.menu-items-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.to-home-btn:hover {
  color: var(--accent);
}

.score:hover {
  color: var(--accent);
}

@media (max-width: 1110px) and (min-width: 520px) {
  .logo-img {
    max-width: 80%;
  }
  .nav-titles {
    width: 80%;
  }
  .settings-img {
    display: initial;
  }
}

@media (max-width: 735px) and (min-width: 521px) {
  .menu-items-container {
    padding: 0rem;
  }
}

@media (max-width: 679px) {
  .nav-option {
    display: none;
  }
  .nav-titles {
    display: inline-grid;
  }
  .logo {
    padding-bottom: 27px;
  }
  .menu-items-container {
    padding: 0;
  }
  .nav-panel {
    padding: 2rem;
  }
}
