<div class="categories-container text-white">
  <div class="nav-panel flex justify-between  text-3xl p-16">
    <div class="nav-titles flex items-center justify-between">
      <button class="logo" (click)="goToHome()">
        <img src="assets/img/logo.png" alt="logo">
      </button>
      <button class="to-home-btn nav-font" (click)="goToHome()">Home</button>
      <div class="title nav-font">Categories</div>
    </div>
    <button class="settings" (click)=" goToSettings()">
      <img class="settings-img" src="assets/img/carbon_settings.png" alt="settings">
    </button>
  </div>
  <div class="menu-items-container">
    <app-menu-item *ngFor="let item of items" [item]="item"></app-menu-item>
  </div>
</div>