<p>home-page works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
</head>

<body>
  <header>
    <div class="settings">
      <button (click)="goToSettings()">Settings</button>
      <img src="/art-quiz/src/assets/img/jpg/j-retrato-de-cardenal-rafael.jpg" alt="" width="100%">
    </div>
  </header>
</body>

</html>