.timer-time {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}

.title {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
}

.stop-img:hover {
  filter: drop-shadow(0px 0px 4px var(--accent));
}

.timer-bar {
  width: 80%;
  height: 3px;
  background: #A4A4A4;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-size: 100%;
  background-repeat: no-repeat;
}