<div class="main-container text-white flex flex-col justify-between items-center ml-auto mr-auto max-w-4xl h-full">
  <div class="timer-container flex w-full justify-around items-center pt-5">
    <button (click)="closeQuiz()" class="stop-icon flex items-center">
      <img class="stop-img" src="assets/img/close-icon.png" alt="close">
    </button>
    <div *ngIf="showTimer" class="timer-bar text-center" [style.background-size]="timerValue + '%'"></div>
    <div *ngIf="showTimer" class="timer-time">{{time | time}}</div>
  </div>
  <div class="title pt-12 pb-12 mr-auto">{{currentQuestion?.title}}</div>
  <div class="answers w-full flex-grow">
    <ng-container [ngTemplateOutlet]="gameTemplate"
      [ngTemplateOutletContext]="{$implicit: currentQuestion?.data, answerSelected: answerSelected, selectedAnswers: selectedAnswers, currentIndex: currentIndex}">
    </ng-container>
  </div>
</div>
<ng-template #answerDialog>
  <div style="background-color: white">
    <ng-container [ngTemplateOutlet]="answerTemplate">
    </ng-container>
  </div>
</ng-template>