@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --pink: #FFBCA2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  position: relative;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-extraBold";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("assets/fonts/Gilroy-Bold.ttf");
}