@use '@angular/material' as mat;
@include mat.core();

@import '@angular/cdk/overlay-prebuilt.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --accent: #FFBCA2;
  --basic: #C4C4C4;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  position: relative;
  background-color: black;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-extraBold";
  src: url("assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("assets/fonts/Gilroy-Bold.ttf");
}