.main-container {
  background-image: url('j-retrato-de-cardenal-rafael.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

button {
  background: none;
}

img {
  width: 36px;
}